<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
    </head>
    <body>
        {::}
        <div>
            <input id="input" type="text" placeholder="Search with Google">
            <button onclick="search()">Go</button>
        </div>
    </body>
<style>
    html, body {
        background-color: black;
        color: white;
        font-family: "Courier";
        font-size: 24px;
        width: 80vw;
        margin: 0 auto;
    }
    a {
        color: gray;
    }
    div * { 
        margin: 10px;
        display: inline;
    }
</style>
<script>
    let input = document.getElementById("input")
    input.addEventListener("keyup", function(event) {
        if(event.keyCode == 13) {
            event.preventDefault()
            search()
        }
    });
    function search() {
        window.open(`https://www.google.com/search?q=${input.value}`)
    }
</script>
</html>
